<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <web-enclave>
        <div>

            <div>
                <p>
                    Greenland is a huge island in the far, far north of the world. The weather there is very harsh and cold. Even the ‘hottest’ summer day on Greenland is like a cool winter’s day in England.  In the summer months, the sun never sets; it is light all through the night. The warmest part of the island is on the south coast and that is where most Greenlanders live. However, it is still a very hard place to live because of the cold.
                </p>
            </div>

            <div>
                <p>
                    Over the years, different groups of people have tried to live in Greenland, but most found it too difficult.  One man who did live there, and one of the most famous Greenlanders, was ‘Erik the Red’. Erik’s name might have come from the colour of his hair and beard, or possibly because of his bad temper. About 1000 years ago, Erik was sent away from his home in Iceland. He sailed away from this small ice-covered island to a great big ice-covered island. This island had no name yet and no one lived there, so Erik made it his home.
                </p>
            </div>

            <div>
                <p>
                    The old stories of Iceland say that Erik became bored and lonely and wanted to persuade other people to come and live on this freezing-cold island with him. Erik had an idea. He called the island ‘Greenland’ and pretended that it was lovely, warm and … green. His trick worked. When the people from Iceland heard about this perfect place called ‘Greenland’, many of them wanted to join Erik. About 300 of them packed up their belongings and set off to join him.
                </p>
            </div>

            <div>
                <p>
                    Although life was hard, these people lived on Greenland for many years and it became their home. They built houses that were snug and strong from stone, wood and turf. They planted crops and kept cows, goats and sheep which they had brought with them all the way from Iceland. However, 500 years later, there was nothing left of Erik and his friends in Greenland. What happened to them is still a mystery.
                </p>
            </div>

        </div>
    </web-enclave>

</body>
</html>